@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calc {
  width: 400px;
  height: 505px;
  background-color: lightskyblue;
  border-radius: 7px;
}
